body {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;

}



.tabBox {
    display: flex;
    width: 70px;
    height: 100px;
    background-color: #42f4b6;
    margin: auto;

}

.tabBox > h3 {
    margin: 10px;
    text-overflow: ellipsis;
}